
.show-reporter {
    background: #d7d0c0;
    height: 100%;
    box-sizing: border-box;
    padding: 10px;
}

.show-reporter .reporter-title {
    margin-top: 10px;
    margin: 20px auto;
    font-size: 21px;
}

.reporter-list {
    height: 92%;
    overflow-y: scroll;
    padding-right: 30px;
    box-sizing: content-box;

}

.reporter-list::-webkit-scrollbar {
    display: none;
}

.reporter-list::after {
    content: '';
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}