
.writeReport {
    background: #e4fcf3;
    padding: 30px;
    height: 100%;
    box-sizing: border-box;
    overflow: scroll;
}

.work-content,
.tomorrow-list {
    width: 48%;
    float: left;
}
.tomorrow-list {
    margin-left: 20px   ;
}

.work-content::after {
    content: '';
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
}
.report-content,
.tomorrow-content{
    background: #5fa4d6;
    height: 400px;
    overflow-y: scroll;
    border: 2px solid green;
    border-radius: 10px;
    position: relative;

}
.report-content::after {
    content: '';
    display: block;
    clear: both;
}

.input-card {
    float: left;
    padding: 10px;
    background: white;
    margin: 10px;
}

.input-card textarea {
    border: none;
    border-top: 1px solid #cccccc;
    padding: 8px;
    resize: none;
    outline: none;
    width: 95%;
    height: 200px;
}

.project-name {
    display: block;
    border: none;
    outline: none;
    width: 95%;
    margin: 0 auto;
    text-align: center;
    font-weight: 700;
}

.introspection,
.weekend ,
.next-week {
    width: 30%;
    height: 320px;
    border: 1px solid orangered;
    border-radius: 10px;
    float: left;
    margin-top: 10px;
    box-sizing: border-box;
    padding: 10px;
    background: #20e442b8;
}

.weekend{
    margin: 10px 50px 0;
}

.introspection textarea,
.weekend textarea,
.next-week textarea {
    border: none;
    outline: none;
    resize: none;
    width: 100%;
    height: 254px;
    box-sizing: border-box;
    padding: 10px;

}
